/* Estilo para el contenedor de las tarjetas */
#tarjetas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Estilo para cada tarjeta */
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  /* Añadir reglas de estilo específicas para pantallas más pequeñas usando Media Queries */
  @media (max-width: 768px) {
    #tarjetas-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  .logo_boxes {
    height: 40px; 
    /*padding-left: 2rem;*/
   }         

   #mensajeContainer {
    background-color: #c7ebf0; /* Cambia este valor al color celeste claro que desees */
    padding: 10px; /* Añade un poco de espacio alrededor del contenido */
  }